Django==1.11.7
PyYAML==3.12
Unidecode==0.04.21
Werkzeug==0.12
argcomplete==1.9.2
argparse==1.2.1
asn1crypto==0.23.0
base58==0.2.4
boto==2.48.0
boto3==1.4.7
botocore==1.7.46
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
cryptography==2.0.3
django-appconf==1.0.2
django-autoslug==1.9.3
django-cors-middleware==1.3.1
django-embed-video==1.1.2
django-imagekit==4.0.2
django-oauth-toolkit==1.0.0
django-podcasting==1.3.2
django-taggit==0.22.1
docutils==0.14
durationpy==0.5
enum34==1.1.6
future==0.16.0
futures==3.1.1
hjson==3.0.1
idna==2.6
ipaddress==1.0.18
jmespath==0.9.3
kappa==0.6.0
lambda-packages==0.19.0
ndg-httpsclient==0.4.3
oauthlib==2.0.6
pilkit==2.0
placebo==0.8.1
psycopg2==2.7.3.2
pyOpenSSL==17.3.0
pyasn1==0.3.7
pycparser==2.18
python-dateutil==2.6.1
python-slugify==1.2.4
python-twitter==3.3
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
s3transfer==0.1.11
six==1.11.0
toml==0.9.3
tqdm==4.19.1
troposphere==2.0.2
urllib3==1.22
wheel==0.30.0
wsgi-request-logger==0.4.6
wsgiref==0.1.2
zappa==0.45.1
