boto==2.48.0
boto3==1.7.33
botocore==1.10.33
certifi==2018.4.16
chardet==3.0.4
Django==2.2.21
django-cors-headers==2.2.0
django-oauth-toolkit==1.1.2
django-oauth2-provider==0.2.6.1
django-ordered-model==1.4.3
django-ses==0.8.5
django-storages==1.6.6
docutils==0.14
future==0.16.0
gunicorn==19.8.1
idna==2.6
jmespath==0.9.3
oauth2-provider==0.0
oauthlib==2.1.0
psycopg2-binary==2.7.4
python-dateutil==2.7.3
pytz==2018.4
requests==2.20.0
s3transfer==0.1.13
shortuuid==0.5.0
six==1.11.0
urllib3==1.24.2
