<!-- AddEvent script -->
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<div title="Add to Calendar"
     class="addeventatc h4ts-button"
     data-styling="none"
     onclick="registerAddToCalendarEvent()">
    Add to Calendar
    <span class="start">09/21/2018 07:00 PM</span>
    <span class="end">09/23/2018 5:00 PM</span>
    <span class="timezone">America/New_York</span>
    <span class="title">Hack for the Sea 2018</span>
    <span class="description">
        Hack for the Sea is a marine hackathon where participants take on some
        of the toughest challenges present in marine science, research, and industry.
    </span>
    <span class="location">American Legion Post 3, 8 Washington St, Gloucester, MA 01930</span>
</div>