{% load static %}

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
      <img src="{% static "images/logo.png" %}" alt="Hack for the Sea 2017" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <!--<span class="sr-only">(current)</span>--></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="hackathonsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hackathons
          </a>
          <div class="dropdown-menu" aria-labelledby="hackathonsMenuLink">
            <a class="dropdown-item disabled" href="#">2018 Hack for the Sea... coming soon!</a>
            <a class="dropdown-item" href="https://hack-for-the-sea.devpost.com/">2017 Hack for the Sea</a>
            <a class="dropdown-item" href="https://hack-for-the-sea-2016.devpost.com/">2016 Hack for the Sea</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projectsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open Source Projects</a>
          <div class="dropdown-menu" aria-labelledby="projectsMenuLink">
            <a class="dropdown-item" target="_blank" href="https://github.com/hackforthesea/beachCRaB">BeachC.R.a.B. (2017)
                <br /><small>Do your part to keep beaches clean!</small></a>
            <a class="dropdown-item" target="_blank" href="https://github.com/hackforthesea/SatelitoVido">SatelitoVido (2017)
                <br /><small>Process large amounts of satellite ocean imagery.</small></a>
            <a class="dropdown-item" target="_blank" href="https://github.com/hackforthesea/Buoy-Mesh-Hack-Code">Buoy Mesh Networking (2017)
                <br /><small>Collect data using buoys, sensors and beacons. </small></a>
            <a class="dropdown-item" target="_blank" href="https://github.com/hackforthesea/LobstaListen">LobstaListen (2016)
                <br /><small>Passively collect underwater audio data.</small></a>
            <a class="dropdown-item" target="_blank" href="https://github.com/hackforthesea/hackforthesea16">DIY Circuit Playground Water Sensors (2016)
                <br /><small>Build low-cost sensors for citizen scientists. </small></a>
            <hr />
            <a class="dropdown-item" target="_blank" href="https://github.com/hackforthesea/resources">Bonus Repository
                <br /><small>A curated list of awesome resources for ocean hacking.</small></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://soundcloud.com/hackforthesea">Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">F.A.Q.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsors">Sponsors</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="hackathonsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Your Account
            </a>
            <div class="dropdown-menu" aria-labelledby="hackathonsMenuLink">
              <a class="dropdown-item" href="/oauth/applications/">Your Projects</a>
              <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Log In</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link social" href="mailto:mark@mrh.io"><img src="{% static "icons/email-2-icon.png" %}" alt=""></a>
        </li>
        <li class="nav-item pull-right">
          <a class="nav-link social" target="_blank" href="https://twitter.com/hackforthesea"><img src="{% static "icons/Twitter.png" %}" alt="" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social" target="_blank" href="https://facebook.com/hackforthesea"><img src="{% static "icons/facebook.png" %}" alt="" /></a>
        </li>
      </ul>
    </div>
  </nav>