{% extends "base.html" %}
{% load static %}


{% block sidebar %}
    {% include 'components/hackathon-sidebar.html' %}
{% endblock %}


{% block content %}
  {% include 'components/hackathon-header.html' %}

  <h4 style="margin: 0 2.5rem 1.33rem 0; border-top: 1px solid #e1e1e1; padding-top: 1.2rem;">Lodging</h4>
    
  <p>
    The <a href="http://vistamotel.com" target="_blank">Vista Motel</a> has offered 15% off room rates for our marine hackers.
    Call them today at 978-281-3410 and tell them you're with Hack for the Sea to reserve your room at a 
    hotel that overlooks Good Harbor Beach!
    
    <img src="{% static '/images/Vista_model.PNG' %}" alt="Vista Motel" />
  </p>
{% endblock %}


{% block extrascripts %}
  <script>
    $("#faq > dt").on('click', function() {
      $(this).next("dd").toggle();
      $(this).find('.expansion').toggle();
    });
  </script>
{% endblock %}