{% extends "base.html" %}
{% load static %}


{% block sidebar %}
    {% include 'components/hackathon-sidebar.html' %}
{% endblock %}


{% block content %}
  {% include 'components/hackathon-header.html' %}

  <h4 style="margin: 0 2.5rem 1.33rem 0; border-top: 1px solid #e1e1e1; padding-top: 1.2rem;">Sponsor a Ticket</h4>
    
  <p>
    You can't make it to Hack for the Sea this year. We're guessing you're not very happy about that, but
    don't worry - you can still do something to help. There are folks out there who <em>can</em> make the
    event, but for one reason or another can't afford it: <strong>Help sponsor their tickets.</strong>
  </p>
  
  <p>
    Simply going to the <a href="https://www.eventbrite.com/e/hack-for-the-sea-2018-tickets-45603855359">EventBrite page</a>
    and donate $25 per ticket. By doing so you can enable our ocean hacker community to take on the most important
    challenges that exist today in marine science, research, conservation, and industry. The ocean is life and livelihood
    and you &mdash; from your laptop or phone &mdash; can catalzye change.
  </p>
{% endblock %}


{% block extrascripts %}
  <script>
    $("#faq > dt").on('click', function() {
      $(this).next("dd").toggle();
      $(this).find('.expansion').toggle();
    });
  </script>
{% endblock %}