{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Save the Date! Hack for the Sea - Sept 21-23 2018 in Gloucester, MA</title>
    <meta name="description" content="The 3rd Annual Hack for the Sea is a marine hackathon where participants take on challenges in marine science, research, and industry.">
    <meta name="author" content="The Marine Institute of Science and Technology (MIST)">
    <meta name="msvalidate.01" content="FFFAEFFC69F1F6B9AE9240403E435213" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hackforthesea">
    <meta name="twitter:title" content="Hack for the Sea - Sept 21-23 2018">
    <meta name="twitter:description" content="The 3rd Annual Hack for the Sea is a marine hackathon where participants take on challenges in marine science, research, and industry.">
    <meta name="twitter:creator" content="@hackforthesea">
    <meta name="twitter:image" content="{% static '/assets/img/h4ts2018-logo.jpg' %}">

<!-- Open Graph data -->
<meta property="og:title" content="Hack for the Sea - Sept 21-23 2018" />
<meta property="og:type" content="event" />
<meta property="og:url" content="http://hackforthesea.tech/" />
<meta property="og:image" content="{% static '/assets/img/h4ts2018-logo.jpg' %}" />
<meta property="og:description" content="The 3rd Annual Hack for the Sea is a marine hackathon where participants take on challenges in marine science, research, and industry." />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body {
        font-family: sans-serif;
        font-weight: 100;
      }

      .h4ts-button {
        background: #62c3ef;
        border-radius: 8px;
        font-weight: bold;
        border: none;
        box-shadow: 2px 2px 5px #0f210e;
        padding: 10px;
        cursor: pointer;
      }

      .h4ts-button span {
        display: block;
        text-align: left;
        text-decoration: underline;
        margin-top: .5em;
      }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98312683-1', 'auto');
      ga('send', 'pageview');

      document.onclick = function logGAEvents(e) {
        console.log(e.target.id);

        if(e.target.id === "addeventatc1") {
          ga('send', {
            hitType: 'event',
            eventCategory: 'Save the Date',
            eventAction: 'Click',
            eventLabel: 'Add Event to Calendar'
          });
          console.log("Add to calendar event recorded");
        }

        if(e.target.id === "subscribeToMailingList") {
          ga('send', {
            hitType: 'event',
            eventCategory: 'Save the Date',
            eventAction: 'Click',
            eventLabel: 'Subscribe to Mailing List'
          });
          console.log("Subscribe to Mailing List event recorded");
        }

        if(e.target.id === "inviteYourFriends") {
          ga('send', {
            hitType: 'event',
            eventCategory: 'Save the Date',
            eventAction: 'Click',
            eventLabel: 'Invite Friends Via Email'
          });
          console.log("Invite Friends Via Email event recorded");
        }
      }
    </script>
  </head>

  <body>
    <br />

    <div class="container">
      <div class="row">
        <div class="sidebar offset-md-1 col-md-3">
          <h1 style="text-align: center"><img src="{% static '/assets/img/h4ts2018-logo.jpg' %}" alt="Hack for the Sea 2018"/></h1>

          {% block sidebar %}{% endblock %}
        </div>
        <div class="col-md-7">{% block content %}{% endblock %}</div>
      </div>

    <div class="pre-footer">
      {% block prefooter %}{% endblock %}
    </div>
    <footer style="text-align: center;">
      {% include "partials/follow-us-on-twitter.html" %}

      Powered by <a href="https://goo.gl/ucxdcB" target="_blank">
        <img class="logo" width=120 src="{% static 'images/dot-tech.png' %}" alt=".TECH Domains" />
      </a>

      <a href="https://balsamiq.com" target="_blank">
        <img class="logo" width=120 src="{% static 'images/balsamiq_logo.png' %}" alt=".TECH Domains" />
      </a>
    </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>