{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container content">
    <h1>Sponsors</h1>
    <p>
        Our sponsors are a huge part of what makes this all possible. This page serves as a
        standing "thank you" to all the organizations that have supported us through the years.
    </p>

    <p class="text-center">
      <a target="_blank" href="http://www.endicott.edu/Angle-Center-for-Entrepreneurship.aspx">
        <img width="350" src="{% static 'images/angle-center-endicott.PNG' %}" alt="Endicott College :: Angler Center for Entrepreneurship">
      </a>
      <a target="_blank" href="http://gloucesterinnovation.com">
        <img width="350" src="{% static 'images/GI_Logo.jpg' %}" alt="Gloucester Innovation">
      </a>
        <a target="_blank" href="http://flyingcarboston.com">
          <img width="175" src="{% static 'images/welcome_logo_3.png' %}" alt="Flying Car" />
        </a>
      </p>
      <p class="text-center">
        </a><a target="_blank" href="https://www.skywatch.co/">
          <img width="175" src="{% static 'images/BlockSkywatchIcon.png' %}" alt="Skywatch"/>
        </a>
        <a target=" _blank"="" href="https://balsamiq.com">
          <img src="{% static 'images/balsamiq_logo.png' %}" alt="Balsamiq is the maker of Mockups">
        </a>
        <a target="_blank" href="https://get.tech">
          <img style="margin-left: 30px" width="200" src="{% static 'images/tech%20domains%20logo%20high-res.png' %}" alt="Get your .TECH domain today">
        </a>
      </p>
      <p class="text-center" style="font-size: 20px;">
        <a target="_blank" href="https://bugsee.com">
          <img src="{% static 'images/bugsee.png' %}" alt="Bugsee" style="width: 100px;">
        </a>
        <a target="_blank" href="https://creative-tim.com">
          <img src="{% static 'images/logo_tim.png' %}" alt="Bugsee" style="width: 100px; background: white; padding: .5em;">
        </a>
    </p>
    <p>
        If you're interested in sponsoring Hack for the Sea, <a href="mailto:mark@mrh.io">get in touch.</a>
    </p>

    <h1>Community Partners</h1>
    <p>
        Part of what makes the North Shore and Cape Ann awesome is its rich legacy of
        community-based organization, many of which work directly in concert with Hack for the Sea
        to create and maintain technologies that benefit the ocean.
    </p>

    <p class="text-center">
        <a target="_blank" href="http://whale.org">
          <img src="{% static 'images/xbannerlogo14.png.pagespeed.ic.rR_tquVN3d.png' %}" alt="Ocean Alliance">
        </a>
        <a target="_blank" href="http://cvisionconsulting.com/">
          <img height="150" src="{% static 'images/logo-cvision.png' %}" alt="CVision Consulting">
        </a>
        <a target="_blank" href="http://kestreleducation.org">
          <img height="100" src="{% static 'images/kestrel.jpg' %}" alt="Kestrel Educational Adventures">
        </a>
        <a target="_blank" href="http://challengerocket.com">
          <img height="100" src="{% static 'images/challengerocket.jpg' %}" alt="Mark Robert Henderson">
        </a>
      </p>
  </div>
{% endblock %}