<div class="row">
    <div class="col-md-12">
        <small class="hackathon-subtitle"><em>The 3rd Annual</em></small>
        <h2 style="margin-bottom: 0;top: -6px;position: relative;">Challenge #{{challenge.id}}: {{ challenge.question }}</h2>
    </div>
</div>

<div class="row">
    <nav class="nav col-md-12 nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/{{ hackathon.unlocode }}">Challenges</a>
        <a class="nav-item nav-link{% if 'hackathon_faq' in current_url %} active{% endif %}" href="/{{ hackathon.unlocode }}/FAQ">FAQ</a>
        <a class="nav-item nav-link{% if 'hackathon_sponsor' in current_url %} active{% endif %}" href="/{{ hackathon.unlocode }}/sponsor-ticket">Sponsor a Ticket</a>
        <a class="nav-item nav-link{% if 'hackathon_contact' in current_url %} active{% endif %}" href="/{{ hackathon.unlocode }}/contact">Contact</a>
    </nav>
</div>


