{% load static %}

<h1 style="text-align: center">
    <a href="/">
      <img style="max-width: 100%;" src="{{ hackathon.logo.url }}" alt="Hack for the Sea 2018"/>
    </a>
</h1>

<div class="row">
    <div class="col-6 col-md-12">
        <h3 style="letter-spacing: -1px; font-size: 19px; line-height: 14px; white-space: nowrap; text-align: center;">Sep 21-23, 2018</h3>
        <h3 style="letter-spacing: -1px; font-size: 19px; line-height: 18px; white-space: nowrap; text-align: center;">American Legion</h3>
        <h3 style="letter-spacing: -1px; font-size: 21px; line-height: 16px; white-space: nowrap; text-align: center;">Gloucester, MA</h3>
    </div>
    
    <div class="col-6 col-md-12">
        <a
            href="https://www.eventbrite.com/e/hack-for-the-sea-2018-tickets-45603855359"
            class='btn h4ts-button'
            style="display: block; max-width: 184px; color: #f3f3f3; box-shadow: 1px 2px 2px #0f210e; line-height: 43px;">
            <span>🎉</span> Register <span>🎉</span> 
        </a>
    </div>
</div>

<p style="text-align: center; margin-top: 0.5em;">
    $25 Early Bird Until Aug 1
    <br /><br />
    <a href="/{{ hackathon.unlocode }}/sponsor-ticket">Sponsor a ticket</a>
    <br />
    <a href="/{{ hackathon.unlocode }}/contact">Apply for a Sponsorship</a>
</p>